* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#f0dfd8;
}

body {
    background-color: #FFE2D6;
    z-index: 1;
}

.central {
    background-color: white;
    height: 100vmax;
    width: 70%;
    margin-left: 15%;
}

span.etoile {
    color: red;
}

h3 {
    text-align: center;
}

#mid {
    border-radius: 5px;
    border-color: rgb(120, 112, 112);
    border-width: 1px;
    border-style: solid;
}

#legende {
    text-align: end;
    font-weight: bold;
}

#pn{
    margin-top: 6px;
}

#separation{
  border-color: rgb(120, 112, 112);
  border-width: 1px;
  border-left: 0px;
  border-bottom: 0px;
  border-top: 0px;
  border-style: solid;
  text-align: center;
}


/* PROFIL */

.profile-head {
    transform: translateY(5rem)
}

.colonneAdmin {
    width: 80%;
    margin-left: 10%;
    height: 800;
    /* overflow-y: scroll;
    scrollbar-width: thin; */
    background-color: white;
}