* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

body {
    background-color:#FFE2D6;
    z-index: 1;
}

.central {
  background-color: white;
  height: 100vmax;
  width: 70%;
  margin-left: 15%;
}

span.etoile {
  color: red;
}

/* PROFIL */

.profile-head {
  transform: translateY(5rem)
}